@section Styles {
	<link href="~/css/SearchStyle.css" rel="stylesheet"/>
	<script defer src="~/js/Search.js"></script>
}

<div id="search-container">
	<div id="search-head">
		<h1 class="ubuntu-bold orange">Search for someone!</h1>
		<h3 class="ubuntu-light gray">You can find a specific profile by it's name and if its not private</h3>
		<input id="search-input" type="text"/>
	</div>
	<div id="search-body">

	</div>
	<div id="refresh" class="ubuntu-bold">That's all!</div>
</div>