@model ProfileProject.Models.RegisterViewModel;

@section Styles {
	<link href="~/css/Auth.css" rel="stylesheet"/>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
}

<div id="background"></div>

<div id="reg-form">
	<form method="post">
		<label class="comic-relief-regular" asp-for="Username"></label><br />
		<input asp-for="Username" /><br />
		<span asp-validation-for="Username"></span>
		<br /><br />
		<label class="comic-relief-regular" asp-for="Email"></label><br />
		<input asp-for="Email" /><br />
		<span asp-validation-for="Email"></span>
		<br /><br />
		<label class="comic-relief-regular" asp-for="Password"></label><br />
		<input asp-for="Password" /><br />
		<span asp-validation-for="Password"></span>
		<br /><br />
		<label class="comic-relief-regular" asp-for="RepeatPassword"></label><br />
		<input asp-for="RepeatPassword" /><br />
		<span asp-validation-for="RepeatPassword"></span>
		<br /><br />
		<input class="comic-relief-regular" type="submit" value="Done!" />
	</form>
</div>