<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/AdminLayout.css" rel="stylesheet"/>
    @RenderSection("Styles", required: false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="navbar">
            <ul>
                <li><h4>DEBUG Tools</h4></li>
                <li><a asp-controller="" asp-action="">User List</a></li>
                <li><a asp-controller="Home" asp-action="CreateNewUser">Create new user</a></li>
            </ul>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
