#profile-container {
    position: relative;
    width: 90%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    flex: 1;

    top: 45px;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 50px;
}

#head > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 25px 25px 0px 25px;
}

#head {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
}

#head > div > img {
    box-sizing: border-box;
    height: auto;
    width: 256px;
    border: solid #FFB22C 4px;
}

#name-and-shit {
    display: flex;
    flex-direction: column;
    /*    X-axis and Y-axis*/
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    margin: 0px 0px 0px 25px;
    overflow: hidden;
}

#username {
    font-size: 32px;
    margin: 0;
    color: black;
}

#age {
    font-size: 24px;
    margin: 0;
}

#date {
    font-size: 24px;
    margin: 0;
}

#bio {
    font-size: 18px;
    margin: 5px 0px 0px 0px;
    flex: 1;
    word-break: break-all;
    border-top: solid #FFB22C 2px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#posts {
    height: auto;
    flex-grow: 1;
    margin: 15px 15px 0px 15px;
}

#profile-nav {
/*    margin: 15px 15px 0px 15px;*/
    padding: 10px;

    display: flex;
    flex-direction: row;
    /*    X-axis and Y-axis*/
    justify-content: space-between;
    align-items: center;
    border: solid 4px #FA812F;
    border-radius: 15px;
}

#profile-nav > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#profile-nav > div > a {
    width: 90px;
    height: 30px;
    background-color: white;
    border: solid 2px #FFB22C;
    border-radius: 5px;
    display: flex;
    /*    X-axis and Y-axis*/
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

#profile-nav > div > a:hover {
    background-color: #FEF3E2;
}

#profile-nav > div > a:active {
    background-color: #FA812F;
}

#refresh {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: solid 2px #393E46;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center
}

#posts-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 5px;
    border-left: dashed 4px #393E46;
    border-right: dashed 4px #393E46;
}

.post-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid 2px #FA812F;
    width: 90%;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: dotted 5px #948979;
}

.post-controls > * {
    color: black;
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.info > * {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}

.post-title {
    width: 100%;
    height: auto;
}

.post-title > * {
    word-wrap: break-word;
    font-size: 24px;
    margin: 5px 0px 5px 0px;
}

.post-text {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.post-text > * {
    word-wrap: break-word;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}
