@section Styles {
	<link href="~/css/MainStyle.css" rel="stylesheet"/>
	<title>Connection Point</title>
}

<div class="block">
	<div id="main-content">
		<div id="head">
			<h1 class="ubuntu-bold gold">Connection Point</h1>
			<h2 class="ubuntu-medium orange comment">A small dot in internet, for small blogs made by big people</h2>
		</div>
		<h2 id="tip" class="ubuntu-light">Click on headline to interact</h2>
		<div id="features">
			<div class="feature">	
				<h1 class="ubuntu-light"><a asp-controller="profile" asp-action="register">Personalise!</a></h1>
				<p class="ubuntu-light">Create your own profile with unique profile picture and bio!</p>
			</div>

			<div class="feature">
				<h1 class="ubuntu-light"><a asp-controller="posts" asp-action="create">Create!</a></h1>
				<p class="ubuntu-light">Make posts and share your opinions about different things!</p>
			</div>

			<div class="feature">
				<h1 class="ubuntu-light"><a asp-controller="profile" asp-action="search">Explore!</a></h1>
				<p class="ubuntu-light">Use the search page to find other creators!</p>
			</div>
		</div>
	</div>
</div>